# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build products
build/
DerivedData/
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
Packages/

# Optional local environment files
.env
.env.local
